*{
    box-sizing: border-box;
}
body{
    margin: 0;
    text-align: center;
}
form{
    width: 80%;
    margin: 0 auto;
}

#container{
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.dogimg{
    margin: 2% 2%;
    max-width: 95%;
}